body {
  margin: 0;
  font-family: 'Arial Rounded MT Bold', Arial, sans-serif;
  font-size: 1.1em;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* simple utility classes, no inline styles in markup */
.container {
  max-width: 1100px;
  margin: 0 auto;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

